@mixin btn {
  @extend .btn;
  @include button-variant(transparent, $body-bg, $body-bg, $body-bg, $body-bg, $body-bg); // TODO change to appropiate variables

  @include hover {
    color: #f00; // TODO change to appropiate variable
  }

  cursor: pointer;

  color: $body-bg; // TODO change to appropiate variable

  $btn-height: rem($btn-border-width) * 2 + rem($btn-padding-y) * 2 + $line-height-base * rem($rem-baseline);
  height: $btn-height;
  border-radius: $btn-height / 2;

  // reset a
  text-decoration: none;

  // TODO add variants here or remove them
  //&%-white {
  //  @include button-variant(transparent, $color-white, $color-white, $color-white, $color-white, $color-white);
  //  color: $color-white;
  //}

  //&%-red {
  //  @include button-variant($color-red, $color-red, $color-black-black, $color-black-black, $color-black-black, $color-black-black);
  //  color: $color-white;
  //}
}
