// stylelint-disable

// fix font weights on macos
// https://css-tricks.com/forums/topic/font-appears-a-lot-bolder-on-mac-than-pc/#post-79767
// also https://medium.com/@MateMarschalko/improving-font-rendering-with-css-3383fc358cbc
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg,
img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

svg {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
